body {
    font-family: Arial, sans-serif;
    background-color: #1a1414ec;
    color: silver;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    list-style: none;albemar raquel  
    text-align: center;
margin: 20px 0;
padding:15px;
border-radius: 8px
]
h2{
 color: 4080px;
margin-bottom:10px;
    display: inline;

    margin: 0 10px;

}




}



section {

    margin: 20px 0;

}

section#sobre, 

section#projetos, 

section#contato {

    background-color: #fff;

    padding: 20px;

    border-radius: 8px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}



footer {

    text-align: center;

    margin-top: 20px;

}

img {
    width: 600px;
    height: 800px;
}


